<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hogwarts</title>
  </head>

  <body>
    <section>
      <header>
        Hogwarts School of Witchcraft stuff
      </header>

      <nav>
        <ul>
          <li>
            <a href="/hogwarts">View all students</a>
          </li>
          <li></li>
        </ul>
      </nav>

      <main>
        <%= yield %>
      </main>

    </section>
  </body>

</html>
